 body{text-align: center;} 
 
 h1
 { 
     font-family: pattaya;
      text-align: center;
      color: rgb(69, 69, 196);
      background-color: rgb(206, 206, 240);
      padding: 15px;
      border-radius: 25px;
      margin-bottom: 15px;
   }

h2
{
     font-family: pattaya;
      color: rgb(69, 69, 196);
 }
 p, ul 
 {
     font-family:quicksand;
}
 
.profile, .contact, .school, .certifications, .lenguages, .skills, .experience {  
     background-color: rgb(206, 206, 240);
     padding: 15px;
     border-radius: 25px;
     margin-bottom: 15px;
     text-align: left;
      }
 






 
  